@import 'constantes';
 
 
 .nav-top-float{
   display: none;
   position: fixed;
   z-index: 16;
   background-color: $color_primario; 
   background-size: 100%;
 }
 
 .visible {
   display: block;
 }
 

 .animation-fade {
     animation: fadein 4s;
     -moz-animation: fadein 2s; /* Firefox */
     -webkit-animation: fadein 2s; /* Safari and Chrome */
     -o-animation: fadein 2s; /* Opera */
 }
 @keyframes fadein {
     from { opacity:0; }
     to { opacity:1; }
 }
 @-moz-keyframes fadein { /* Firefox */
   from { opacity:0; }
   to { opacity:1; }
 }
 @-webkit-keyframes fadein { /* Safari and Chrome */
   from { opacity:0; }
   to { opacity:1; }
 }
 @-o-keyframes fadein { /* Opera */
   from { opacity:0; }
   to { opacity:1; }
 }



.div-app-bar{
    position: fixed;
    width: 100%;
    background-image: url('public/imagenes/home/fondo1.png');
    background-size: 100%;
    z-index: 1;
    
  }

  .container-encabezado{
    padding-top: 37px;
    padding-bottom: 37px;
    .button-contactenos{
        border: 0px;
        height: 50px;
        width: 162px;
        color: #002A60;
        background-color: #AEF455;
        border-radius: 50px;
        border-bottom-color: red;
        margin-right: 50px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: bold;
    }
}


.encabezado{
    background-image: url('public/imagenes/rofailogo.svg');
    background-size: 216px 60px;
    background-repeat: no-repeat;
    height: 60px;
    /* padding-top: 37px; */
    background-position-x: 50%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a{
        text-decoration: none;
    }
  }



  body{
    background: $color_primario;
}

  /* slider*/
  
ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
ul.slider li {
    // opacity: 0;
    transition: opacity .5s;
    left: 0px;
    top: 0px;
}
// ul.slider li:first-child {
//     opacity: 1;
// }
// ul.slider li:target {
//     opacity: 1;
// }
.menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu li{
    display: flex;
    flex-flow: wrap;
    input{
        text-align: -webkit-center;
        width: 100%;
    }
}

.slider{
    figure img{
        height: 520px;
    }
}

.slider li{
  width: 100%;
}

.slider button{
    border: 0px;
    padding: 2%;
    color: #002A60;
    background-color: #AEF455;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    position: absolute;
    bottom: 0;

}

.slider-button{
    margin-bottom: 5%;
}

.desarrollo-aplicacion{
    margin-top: 5%;
    margin-bottom: 10%;
    h1{
        font-size: 4em;;
    }
    .color-desarrollo{
        color: #AEF455;
    }
}

.lado-izquierdo{
    align-self: center;
    font-size: 1.4em;
    font-weight: 400;
    text-align: left;
    height: 500px;
    p{
        padding-bottom: 20%;
    }
    
}

.section-dos{
    padding-bottom: 5%;
    overflow: hidden;
}

.section-experiencias{
    padding-top: 5%;
    padding-bottom: 5%;
    background: white;
    h1{
        font-size: 5em;
        font-weight: bolder;
        text-align: center; 
        padding-bottom: 5%;
    }
    .primer-cuadro {
        color: #00FFF0;
        font-size: 1.5em;
        font-weight: 700;
      }
    .segundo-cuadro {
        color: #00FF19;
        font-size: 1.5em;
        font-weight: 700;
    }
    .tercer-cuadro {
        color: #1EF4E7;
        font-size: 1.5em;
        font-weight: 700;
    }
    p{
        font-size: 1.25em;
        font-weight: 500;
    }
}

.logo-redes{
    display: flex;
    justify-content: space-between;
    figure img{
        width: 80%;
    }
    .siguenos{
        width: 20%;
        text-align: center;
        letter-spacing: 0.5em;
        div{
            justify-content: space-between;
            width: 100%;
            text-align-last: justify;
        }
    }
}

.menu li div{
    width: 100%;
    text-align: center;
    
}

.slider-button{
    display: flex;
    justify-content: space-between;
}

/* The container */
.container-radio {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    letter-spacing: 6px;
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -26px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: transparent;
    border: 1px solid #AEF455;
    
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
    top: 2px;
    left: 2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #AEF455;
  }

  .checkmark1{
    left: 40px;
  }

  .checkmark2{
    left: 60px;
    }

    
  .checkmark3{
    left: 75px;
}

.checkmark4{
    left: 70px;
}

.texto-seleccionado{
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #AEF455;
    .checkmark1{
        left: 45px;
    }
    .checkmark2{
        left: 80px;
    }
    .checkmark3{
        left: 80px;
    }
    .checkmark4{
        left: 80px;

    }
}



@media only screen and (max-width: 600px) {

    .container-encabezado{
        padding-top: 4%;
        padding-bottom: 4%;
        .encabezado{
          background-size: 100px 30px;
          background-position-x: center;
          height: 40px;
          .button-contactenos{
            display: none;
          }
        }
      }
      
    .container-nav{
        .button-contactenos{
            display: none;
        }
    }

    .desarrollo-aplicacion{
        margin-bottom: 25%;
        h1{
            font-size: 1.5em;
        }
    }

    .slider-button{
        justify-content: space-around;
        p{
            display: none;
        }
    }

    
  .checkmark1{
    left: 0px;
  }

  .checkmark2{
    left: 0px;
    }

    
  .checkmark3{
    left: 0px;
}

.checkmark4{
    left: 0px;
}


.texto-seleccionado{
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #AEF455;
    .checkmark1{
        left: 0px;
    }
    .checkmark2{
        left: 0px;
    }
    .checkmark3{
        left: 0px;
    }
    .checkmark4{
        left: 0px;

    }
}

.lado-izquierdo{
    height: auto;
}

    .slider{
        figure{
            display: none;
        }
    }

    .section-experiencias{
        h1{
            font-size: 2em;
        }
        figure{
            text-align-last: center;
        }
        .primer-cuadro,.segundo-cuadro,.tercer-cuadro{
            text-align: center;
        }
    }
    .logo-redes{
        figure{
            display: none;
        }
        .siguenos{
            width: 100%;
            padding-bottom: 10%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .button-contactenos{
        display: none;
      }
}
@media only screen and (min-width: 768px) {
    .button-contactenos{
        display: none;
      }
}
@media only screen and (min-width: 992px) {
    .button-contactenos{
        display: inline;
      }
}
@media only screen and (min-width: 1200px) {
    .button-contactenos{
        display: inline;
      }
}


// aqui las capsulas de experiencias
.capsulas-experiencias{
    padding: 10px;
    border-radius: 10px;

 }
 .capsulas-experiencias:hover{
     cursor: pointer;
   animation: capsulas_experiencias 0.5s forwards;
 }
 @keyframes capsulas_experiencias{
     from{}
     to{background-color:$color_primario}
     to{color: $color_secundario;}
     to{border-radius: 10px;}
     to{font-weight: 900;}
     to{z-index: 2;}
     to{transform: scale(1.07);}
     to{box-shadow: 0 0 10px black;}
 }